
@font-face{
    font-family: myFont;
    src:url('./fonts/MPLUSRounded1c-Regular.ttf') format("truetype");
}
body{
    font-family:myFont,Roboto,Lato;
    margin:0;   
    height: 100%;
}

header{
    padding:10px 20px 10px 20px;
    color:white;
    background-color: #23374d;
    grid-area: header;
    cursor: context-menu;
    text-align: center;
    font-size: 21px;
    
    
}
header h1 {
    text-shadow: 2px 3px black;
}
.menu-bar{
    background-color: #eeeeee;
    grid-area: menubar;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}
.main{
    grid-area: main;
    padding:10px 30px 10px 30px;
    text-align: justify;
    display: flex;
    flex-flow:column wrap;
}
.side-bar{
    margin:0;
    display: flex;
    flex-flow: column wrap ;
    
    
    padding:0;
    background-color: #e5e5e5;
    grid-area:sidebar;
    
}

.side-websites-bar{
    margin:0;
    display: flex;
    flex-flow: column wrap ;
     
    flex-flow: column;
    padding:0;
    border:3px solid #23374d; 
    background-color: rgba(16, 137, 255,0.5);
    grid-area: websitesbar;
   
}

.footer{
    grid-area: footer;
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 5px;
    padding-left:40px;
    
}

.footer p{
    font-size: 90%;
    clear: both;
}

.grid-container{
    
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas:    
    'header'  
    'menubar'
    'sidebar'
    'main'
    'websitesbar'
    'footer';
    
}



.side-bar a{
    padding:0 5px 10px 5px;
    text-align: center;
    text-decoration: none;
    color:black;
    font-size: 18px;
    padding: 15px;
    
    
}

.menu-bar a{
    font-size: 18px;
    text-decoration: white;
    color:black;
    padding-left:30px;
    padding-right:30px;
    font-style: italic;
}

.side-bar a:hover,.menu-bar a:hover{
    background-color: #23374d;
    color:white;
   
}

a:active,.main a:active,.side-bar a:active,.menu-bar a:active{
    color:#1089ff;
}


.main h2{
    text-align: center;
}
.main p{
    width:100%;
}
.main a{
    text-decoration: none;
    font-weight: bold;
    color:#115396;
}

.main a:hover{
   text-decoration: underline;
}

.main a:visited{
    color:#382449;

}
.end-article {
    font-size: 90%;
    
}
.end-article li{
    list-style: none;
    
    
}

#test-turing-img{
    display: flex;
    width:100%;
}

#humorous-test-turing-img{
    display: flex;
    width:80%;
    
}
.side-websites-bar h3{
    text-align: center;
    font-style: italic;
}

#websites{
    list-style-type: none;
    
}


#websites a{
    padding:15px 5px 15px 5px;
    font-size:110%;
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
}


#websites a:hover{
    background-color: #e5e5e5;
    color:#23374d;

    border-bottom: 3px double #23374d;
}

#active{
    background-color:#23374d ;
    color:white;
}


#welcomeheader{
    font-size:32px;
}

#ai-brain{
    display: flex;
    width: 100%;
    float:right;
    border-radius: 10%;
}


#contactform p{
	margin:20px;
    width :80%;
    margin:0;
}
 
#contactform {
    margin:0px;
    padding:20px;
    background-color: #42699211;
    border:1px solid #23374d;
    border-radius: 7px;
    width:95%;
   
}


#contactform textarea{
    margin:5px;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    height:100px;
}

input{
	margin:5px;
    border-radius: 2px;
    padding:6px;
    width:50%
}

input:focus, textarea:focus {
	
	 background-color:rgb(255, 238, 206);
}
input[type=reset]{
	font-size:14px;
	padding:4px 20px;
	cursor:pointer;
    border:none;
    width: min-content;
	
}
input[type=submit]{
	background-color:#23374d;
	color:white;
	float:right;
	font-size:17px;
	padding:7px 26px;
	cursor:pointer;
    border:none;
    width: min-content;

	
}
input[type=submit]:hover{
	background-color:#426992;
}

input[type=reset]:hover{
	background-color:#cccccc;
}
.icons{
	padding-left:3px;
}

#logo_aueb{
    width:150px;
   height:130px;
   
}

.centerimg{
    display: flex;
    justify-content: center;
    width:100%;
}

#aichess{
    width:50%;
}
#img-assistantphone,#disofai{
    
    width:80%;
}
.table,td{
    background-color: #f8f9fa;
    border-collapse: collapse;
    border:1px solid #426992;
}
th,td{
    padding:5px;
}
.author{
    font-size: 80%;
}

.main fieldset{
    margin:0;
    display: flex;
    flex-flow: column wrap ;
    justify-self:flex-start;
    flex-flow: column;
    padding:0;
}

#contact p{
    display: inline-block;
  white-space: no-wrap;
}
