*{
	font-family:"Segoe UI",Arial,sans-serif;
	box-sizing: border-box;
}

	
body{
	margin:10px 100px 20px 100px;
	height: 100%;
	background-color: #d4ccdb;
	background-image: url("images/b.jpg");
	background-repeat:repeat-x;
	
	
}

.container{
  border-radius: 5px;
  background-color: rgba(251,251,251, 0.9); 
  padding:5px 40px 10px 40px;
  border: 1px solid #5c4a72;
 
}
h1{
	text-align:center;
	font-size:40px;
	color:white;
	font-weight: bold;
	text-shadow:3px 2px black;
}

p{
	font-size:17px;
}



.navigation{
	
	padding-right:60px;
	padding-bottom: 45px;
	position:relative;
	border-radius: 5px;
	margin: 100px auto 20px auto;
	height:44px;
	font-weight:bold;
	width: 50%;
	border: 3px solid #5c4a72;
	background-color:rgba(241,241,241,0.65);
	font-size:17px;
	letter-spacing: 1px;
	line-height: 0.7;
	word-wrap: break-word;
}


.navigation ul li {

	list-style-type: none;
	
}
.navigation a{
	
	width:25%;
	float:left;
	text-align:center;
	
}

a{
	text-decoration:none;
}

#active:visited{
	color:#1a46be;
}
a:link,.navigation a:visited{
	color:#5c4a72;
}

a:visited{
	color:#618685;
}
a:hover,.navigation a:hover{
	color:#1a46be;
}
a:active {
  color: blue;
}


.out-container{
	line-height:0.5;
	font-style:italic;
	text-align:center;
}



.out-container-links:visited{
	color:#5c4a72;
}
.out-container-links:hover{
	color:#9b7ebf;
}

#me-img{
	border-radius:7%;
	margin:30px 0px 10px 10px;
	float:right;
}

#go-top{
	text-align:right;
}

.project-interest-images{
	border-radius:7px;
	margin:5px 10px 5px 10px;
}

#buses-app-img,#book-img{
	float:right;
}

#reversi-img,#audio-mixer-imgs,#dances-img{
	text-align:center;
}

.end-of-project,figcaption{
	line-height:1.5;
	font-size:14px;
}

#series-img{
	float:left;
}

.order-list-project,.unordered-list{
	padding:0px 20px 10px 20px;
	
}

input{
	margin:0px 5px 5px 5px;
	border-radius: 2px;
	padding-left:6px;
	padding-right:6px;
}

fieldset{
	padding:10px 20px 10px 20px;
	margin:5px 5px 5px 5px;
}
input:focus, textarea:focus {
	
	 background-color:#FFF9B5;
}
input[type=reset]{
	font-size:14px;
	padding:4px 20px;
	cursor:pointer;
	border:none;
	
}
input[type=submit]{
	background-color:#5c4a72;
	color:white;
	float:right;
	font-size:17px;
	padding:7px 26px;
	cursor:pointer;
	border:none;

	
}
input[type=submit]:hover{
	background-color:#9b7ebf;
}

input[type=reset]:hover{
	background-color:#cccccc;
}
.icons{
	padding-left:3px;
	
}
footer p{
	text-align: center;
	font-size: 90%;
}
footer{
	clear:both;
	
}

#contactform p{
	margin:20px;
	width :300px;
}
#contactform p input{
	
	float:right;
}

#contactform div{
	margin-left:20px;
	width :300px;

}

#contactform textarea{
	padding:20px ;
}



